---
import { format } from 'date-fns';
import { upcomingShows } from '../data/shows';
---

<div class="overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr class="border-b border-gray-700">
        <th class="text-left py-4 px-6">Date</th>
        <th class="text-left py-4 px-6">Venue</th>
        <th class="text-left py-4 px-6">Location</th>
        <th class="text-right py-4 px-6">Tickets</th>
      </tr>
    </thead>
    <tbody>
      {upcomingShows.map(show => (
        <tr class="border-b border-gray-800 hover:bg-gray-900">
          <td class="py-4 px-6">{format(show.date, 'MMMM d, yyyy')}</td>
          <td class="py-4 px-6">{show.venue}</td>
          <td class="py-4 px-6">{show.city}</td>
          <td class="py-4 px-6 text-right">
            <a
              href={show.ticketLink}
              class="inline-block bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"
            >
              Get Tickets
            </a>
          </td>
        </tr>
      ))}
    </tbody>
  </table>
</div>